.mapbuilder {
  .control-panel {
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: 3px solid black;
    width: 100%;
    .tabs {
      display: flex;
      .show-tab {
        padding: 10px;
      }
    }
  }
  .obstacles, .tiles, .buildings {
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 20px;
    .g-col {
      &.selected, &:hover {
        border: 2px solid blue;
        margin: -2px;
      }
      &.obstacle {position:static;}
      &.obstacle-2x1 {width: 60px; background-size: 60px;}
      &.obstacle-3x1 {width: 60px; background-size: 60px;}
    }
  }
  .map {
    margin-top: 100px;
    .g-row {
      display: flex;
      .g-col:hover {
        border: 1px solid blue;
        margin: -1px;
      }
    }
  }
}
