@import '../stylesheets/variables.less';

.stats-container {
  display: flex;
  margin-top: 50px;
  .key-character-status {
    width: 20%;

    .body-boxes-container {
      margin-top: 15px;
      .row {
        display: flex;
        justify-content: center;

        .box {
          border: 1px solid black;
          margin: 3px;
          &:hover {
            box-shadow: 0px 0px 9px #999;
          }
          img {
            width: 100%;
            height: 100%;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .head-box {
          .box();
          height: 40px;
          width: 40px;
        }
        .left-arm-box {
          .box();
          height: 80px;
          width: 40px;
        }
        .chest-box {
          .box();
          height: 100px;
          width: 60px;
        }
        .right-arm-box {
          .box();
          height: 80px;
          width: 40px;
        }
        .legs-box {
          .box();
          height: 100px;
          width: 60px;
        }
      }
    }
  }
  .detail-tabs-container {
    .tab-links {
      margin-bottom: 20px;
      a {
        margin: 20px;
        padding: 5px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        color: black;
        &:hover {
          background-color: black;
          color: white;
        }
        &.active {
          background-color: black;
          color: white;
        }
      }
    }
    .skills-display-container {
      width: 500px;
      li {
        text-transform: uppercase;
        list-style: none;
        margin-top: 8px;
        margin-bottom: 8px;
        .fa {display: none;}
        &:hover {
          .fa {display: inline;}
        }
      }
    }
    .items-display-container {
      display: flex;
      .item {
        display: flex;
        border: 2px solid black;
        background-color: @color-primary-muted;
        border-radius: 2px;
        padding: 10px;

        &:hover {
          border-color: @color-tertiary;
          cursor: pointer;
        }
        &.selected {border-color: @color-tertiary;}

        img {
          width: 40px;
          height: 40px;
          margin-right: 20px;
        }
        h3 {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  }
  .action-menu-container {
    flex-grow: 2;
    margin-right: 40px;
    .item-action-menu {
      border: 3px solid black;
      border-radius: 4px;
      .item-info {
        padding: 20px;
        border-bottom: 2px solid black;
      }
      .item-actions {
        padding: 20px;
        display: flex;
        justify-content: space-around;
        .action {
          i.fa-caret-right {display:none;}
          &:hover {
            i.fa-caret-right {display:inline;}
            cursor: pointer;
          }
        }
      }
    }
  }
}

.stat-meter-container {
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  background-color: @color-primary-muted;
  margin: 10px;
  width: 80%;

  p.stat-meter-title {
  }
  .stat-meter {
    width: 95%;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
    .stat-meter-filling {
      height: 100%;
      background-color: @color-primary;
      &.energy {
        background-color: @color-tertiary;
      }
      &.hp {
        background-color: @color-contrast;
      }
    }
  }
}
