@import '../stylesheets/variables.less';

.stats-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  .key-character-status {
    width: 250px;

    .body-boxes-container {
      margin-top: 15px;
      .row {
        display: flex;
        justify-content: center;

        .box {
          border: 1px solid black;
          margin: 3px;
          &:hover {
            box-shadow: 0px 0px 9px #999;
          }
          img {
            width: 100%;
            height: 100%;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .head-box {
          .box();
          height: 40px;
          width: 40px;
        }
        .left-arm-box {
          .box();
          height: 80px;
          width: 40px;
        }
        .chest-box {
          .box();
          height: 100px;
          width: 60px;
        }
        .right-arm-box {
          .box();
          height: 80px;
          width: 40px;
        }
        .legs-box {
          .box();
          height: 100px;
          width: 60px;
        }
      }
    }
  }
  .detail-tabs-container {
    .skills-display-container {
      width: 500px;
      .skill-block {
        display: flex;
        flex-wrap: wrap;
        li {width: 50%;}
      }
      li {
        text-transform: uppercase;
        list-style: none;
        margin-top: 8px;
        margin-bottom: 8px;
        .fa {display: none;}
        &:hover {
          .fa {display: inline;}
        }
        .progress-container {
          width: 180px;
          height: 18px;
          border: 1px solid black;
          border-radius: 2px;
          .progress-marker {
            height: 100%;
            background-color: @color-primary;
          }
        }
      }
    }
    .items-display-container {
      display: flex;
      flex-wrap: wrap;
      width: 420px;
      .item {
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .selected .item {
        border-color: @color-tertiary !important;
      }
    }
    .resources-display-container {
      li {
        list-style: none;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px;
        margin-bottom: 10px;
      }
    }
    .buildings-display-container {
      .building-card {
        border: 3px solid black;
        border-radius: 3px;
        display: flex;
        padding: 11px;
        &:hover {
          border-color: @color-tertiary;
          cursor: pointer;
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
  .action-menu-container {
    margin-right: 40px;
    width: 400px;
    .borderer {
      border: 3px solid black;
      border-radius: 4px;
    }
    .stat-description {
      .borderer();
      p {
        padding: 20px;
        line-height: 1.5em;
      }
    }
    .item-action-menu {
      .borderer();
      .item-info {
        padding: 20px;
        border-bottom: 2px solid black;
      }
      .item-actions {
        padding: 20px;
        display: flex;
        justify-content: space-around;
        .action {
          i.fa-caret-right {display:none;}
          &:hover {
            i.fa-caret-right {display:inline;}
            cursor: pointer;
          }
        }
      }
    }
    .building-managment-menu {
      border: 2px solid black;
      border-radius: 3px;
      margin-left: 20px;
      p {
        margin-bottom: 10px;
      }
      .building-info {
        padding: 10px;
      }
      .building-type {
        border: 1px solid black;
        border-radius: 3px;
        padding: 9px;
        &:hover {
          background-color: #eee;
          cursor:pointer;
        }
        &.selected {
          border-color: @color-tertiary;
        }
        li {
          margin-left: 15px;
        }
      }
      .building-actions-menu {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        border-top: 2px solid @color-primary;
        background-color: @color-primary-muted;
        .action, .action-menu {
          width: 50%;
          height: 30px;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          i.fa {display: none;}
          &:hover {
            i.fa {display: inline;}
          }
        }
      }
    }
  }
}

.stat-meter-container {
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  background-color: @color-primary-muted;
  margin: 10px;
  width: 80%;

  p.stat-meter-title {
  }
  .stat-meter {
    width: 95%;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
    .stat-meter-filling {
      height: 100%;
      background-color: @color-primary;
      &.energy {
        background-color: @color-tertiary;
      }
      &.hp {
        background-color: @color-contrast;
      }
    }
  }
}
.misc-status-container {
  display: flex;
  padding: 10px;
  .misc-status {
    width: 50%;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.item {
  display: flex;
  border: 2px solid black;
  background-color: @color-primary-muted;
  border-radius: 2px;
  padding: 10px;

  &:hover {
    border-color: @color-tertiary;
    cursor: pointer;
  }
  &.selected {border-color: @color-tertiary;}

  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  img.largeBlade{
    width: 20px;
    margin-left: 10px;
    margin-right: 20px;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  span.price {
    color: @color-contrast;
    float: right;
  }
  .item-info {
    width: 100%;
  }
}

.tab-links {
  margin-bottom: 20px;
  display: flex;
  .inner-tab-links-container {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
  }
  a {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-right: 1px solid black;
    &:hover {
      background-color: @color-primary-muted;
      font-weight: bold;
      text-decoration: underline;
    }
    &.active {
      background-color: @color-secondary;
    }
    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-of-type {
      border-right: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:active, &:focus {outline: none;}
  }
}
