<template name="characterSelector">
<div class="character-search-selector-container">
  <p>Find character: </p>
  <input class="character-search" type="text"/>
  {{#if currentCharacter}}
    <div class="current-character-choice">
      <img src="{{currentCharacter.image}}"/>
      {{currentCharacter.name}}
    </div>
  {{/if}}
  <ul class="character-matches">
    {{#each character in searchResults}}
      <li class="select-character {{character.team}}" data-index="{{@index}}">
        <img src="{{character.image}}"/>
        {{character.name}}
      </li>
    {{/each}}
  </ul>
</div>
</template>
