<template name="statusBars">
  {{#if character}}
    {{> hpBar character}}
    <div class="stat-meter-container">
      <p class="stat-meter-title">ENERGY <span>{{character.stats.energy}} / {{character.stats.energyBase}}</span></p>
      <div class="stat-meter">
        <div class="stat-meter-filling energy" style="width: {{statPercent 'energy'}}%"></div>
      </div>
    </div>
    <div class="stat-meter-container">
      <p class="stat-meter-title">WEIGHT <span>{{characterWeight}} / {{maxWeight character}}</span></p>
      <div class="stat-meter">
        <div class="stat-meter-filling weight" style="width: {{weightRatio character}}%"></div>
      </div>
    </div>
  {{/if}}
</template>

<template name="hpBar">
  {{#if stats}}
    <div class="stat-meter-container">
      <p class="stat-meter-title">HP <span>{{stats.hp}} / {{stats.hpBase}}</span></p>
      <div class="stat-meter">
        <div class="stat-meter-filling hp" style="width: {{statPercent}}%"></div>
      </div>
    </div>
  {{/if}}
</template>
