<template name="app">
  <div id="nav">
    {{#if currentUser}}
      <div class="nav-links">
      {{#if character}}
        <a href="/game/{{character.gameId}}/team" class="{{isActive 'team'}}">Team</a>
        <a href="/game/{{character.gameId}}/stats" class="{{isActive 'stats'}}">Stats</a>
        <a href="/game/{{character.gameId}}/world" class="{{isActive 'world'}}">World</a>
        {{#if fight}}
          <a href="/game/{{character.gameId}}/fight" class="{{isActive 'fight'}}">Fight</a>
        {{/if}}
      {{else}}
        <a href="/">Coalition Victory</a>
      {{/if}}
      </div>
      <div class="user-settings btns-group-vertical">
        <a href="#" class="js-user-menu btn-secondary">
          {{#if userMenuOpen}}
            <span class="fa fa-caret-up"></span>
            {{else}}
            <span class="fa fa-caret-down"></span>
          {{/if}}

          {{emailLocalPart}}
        </a>
        {{#if userMenuOpen}}
          <a class="js-logout btn-secondary">Logout</a>
        {{/if}}
      </div>
    {{else}}
      <div class="btns-group">
        <a href="{{pathFor 'signin'}}" class="btn-secondary">Login</a>
        <a href="{{pathFor 'join'}}" class="btn-secondary">Signup</a>
      </div>
    {{/if}}
  </div>

  <div id="content">
    {{#if Template.subscriptionsReady}}
      {{> Template.dynamic template=main}}
    {{else}}
      {{> loading}}
    {{/if}}
  </div>
</template>
