.game-border {position:relative;}
.g-container {
  background-color:#898894;
  
  border: 3px solid black; //#505057;
  -webkit-border-radius:15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  //box-shadow: 10px 10px 5px #888888;
  overflow: hidden;
  
  width:720px;
  height:480px;
  
  margin-top:0;
  margin-left:auto;
  margin-right:auto;
  
  position:relative;
  z-index:1;
}
.g-row{
  height:60px;
}
.g-col{
  height:60px;
  width:60px;
  background-repeat:no-repeat;
  background-size:60px;
  display:inline-block;
}
.top-left{
  -webkit-border-top-left-radius:15px;
     -moz-border-top-left-radius:15px;
          border-top-left-radius:15px;
}
.bottom-left{
  -webkit-border-bottom-left-radius:15px;
     -moz-border-bottom-left-radius:15px;
          border-bottom-left-radius:15px;
}
.top-right{
  -webkit-border-top-right-radius:15px;
     -moz-border-top-right-radius:15px;
          border-top-right-radius:15px;
}
.bottom-right{
  -webkit-border-bottom-right-radius:15px;
     -moz-border-bottom-right-radius:15px;
          border-bottom-right-radius:15px;
}
.container span{
  font-size:40px;
  line-height:41px;
  padding-top:15px;
  padding-bottom:25px;
}
.m-t-50{
  margin-top:50px;
}

.energy-bar {
  border: 1px solid black;
  width: 120px;
  height: 10px;
  position: absolute;
  right: 0;
  z-index: 200;
  .energy-fill {
    background-color: blue;
    height: 100%;
  }
}

.hide {display: none;}
.red {color: red;}

.game-status-bars {
  width: 250px;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 1219px) {
 .game-status-bars {
   position: static;
   margin-bottom: 15px;
   width: 100%;
   display: flex;
   justify-content: space-around;

   .stat-meter-container {
     width: 30%;
   }
 } 
}


.same-space-lists {
  position: absolute;
  right: 0;
  top: 0;
  .opponent-list {
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    width: 190px;

    @media screen and (max-width: 1219px) {
      margin-top: 30px;
      width: 50%;
      position: static;
      margin-left: 25%;
      display: flex;
      margin-bottom: 50px;
    }
    
    .opponent-container {
      display: flex;
      .character {
        position: static;
      }
      a {
        font-size: 13px;
      }
    }
  }
  .item-list {
    margin-right: 20px;
    .item {
      margin-top: 10px;
    }
  }
  .collect-resource {
    margin-right: 20px;
    width: 190px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    p {
      margin-bottom: 10px;
    }
  }
}

.fighting-overlay {
  position: absolute;
  color: red;
  background-color: rgba(239, 57, 57, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .msg {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.whole-game-hud-container {position: relative;}
