// Contains all rules related to tile images.
.blank {
  background-image:none;
}
.i-full-building-wall{
  background-image:url('images/full-building-wall.png');
}
.i-door{
  background-image:url('images/door.png');
}
.i-wooden-bar1{
  background-image:url('images/wooden-bar1.png');
}
.i-building-front-wall{
  background-image:url('images/building-front-wall.png');
}
.i-2{
  background-image:url('images/2.png');
}
.i-hz-path{
  background-image:url('images/hz-path.png');
}
.i-grass{
  background-image:url('images/grass.png');
}
.i-dirt{
  background-image:url('images/dirt.png');
}
.i-ore{
  background-image:url('images/ore.png');
}
.i-mat{
  background-image:url('images/mat.png');
}
.i-building-right-roof{
  background-image:url('images/building-right-roof.png');
}
.i-path-plus{
  background-image:url('images/path-plus.png');
}
.i-path-T{
  background-image:url('images/path-T.png');
}
.i-path-inv-T{
  background-image:url('images/path-inv-T.png');
}
.i-vertical-path{
  background-image:url('images/vertical-path.png');
}
.i-tree{
  background-image:url('images/tree.png');
}
.i-tree-stump{
  background-image:url('images/tree-stump.png');
}
.i-oaktree1 {
  background-image:url('images/oaktree1.png');
}
.i-oaktree1cut {
  background-image:url('images/oaktree1cut.png');
}
.i-oaktree2 {
  background-image:url('images/oaktree2.png');
}
.i-oaktree2cut {
  background-image:url('images/oaktree2cut.png');
}
.i-oaktree3 {
  background-image:url('images/oaktree3.png');
}
.i-oaktree3cut {
  background-image:url('images/oaktree3cut.png');
}
.i-floor{
  background-image:url('images/floor.png');
}
.i-b{
  background-image:url('images/b.png');
}
.i-hz-fence{
  background-image:url('images/horizontal-wall.png');
}
.i-vt-fence{
  background-image:url('images/vertical-wall.png');
}
.i-workbench-left{
  background-image:url('images/workbench-left.png');
}
.i-workbench-right{
  background-image:url('images/workbench-right.png');
}
.i-workbench{
  background-image:url('images/workbench.png');
}
.i-fence-horizontal{
  background-image:url('images/parcel-horizontal.png');
}
.i-fence-vertical{
  background-image:url('images/parcel-vertical.png');
}
.i-fence-bottom-left-corner{
  background-image:url('images/parcel-bottom-left-corner.png');
}
.i-fence-bottom-right-corner{
  background-image:url('images/parcel-bottom-right-corner.png');
}
.i-fence-top-left-corner{
  background-image:url('images/parcel-top-left-corner.png');
}
.i-fence-top-right-corner{
  background-image:url('images/parcel-top-right-corner.png');
}
.i-fence-sign{
  background-image:url('images/buy-parcel.png');
}
.i-full-land-parcel{
  background-image:url('images/parcel-full.png');
}
.i-house-big {
  background-image:url('images/house-big.png');
}
.i-house-in-progress {
  background-image:url('images/in-progress-house.png');
}
.i-stool {
  background-image:url('images/stool.png');
}
.i-barrel {
  background-image:url('images/barrel.png');
}
.i-fountain {
  background-image:url('images/fountain.png');
}
.i-bar-big {
  background-image:url('images/bar-big.png');
}
