// Contains all rules related to tile images.
.blank {
  background-image:none;
}
.i-o{
  background-image:url('images/o.png');
}
.i-door{
  background-image:url('images/_.png');
}
.i-1{
  background-image:url('images/1.png');
}
.i-2{
  background-image:url('images/2.png');
}
.i-3{
  background-image:url('images/3.png');
}
.i-grass{
  background-image:url('images/4.png');
}
.i-5{
  background-image:url('images/5.png');
}
.i-H{
  background-image:url('images/H.png');
}
.i-i{
  background-image:url('images/i.png');
}
.i-j{
  background-image:url('images/j.png');
}
.i-l{
  background-image:url('images/l.png');
}
.i-tree{
  background-image:url('images/T.png');
}
.i-tree-stump{
  background-image:url('images/tree-stump.png');
}
.i-f{
  background-image:url('images/f.png');
}
.i-b{
  background-image:url('images/b.png');
}
.i-hz-fence{
  background-image:url('images/horizontal-wall.png');
}
.i-vt-fence{
  background-image:url('images/vertical-wall.png');
}
