// Contains all rules related to tile images.
.blank {
  background-image:none;
}
.i-full-building-wall{
  background-image:url('images/full-building-wall.png');
}
.i-door{
  background-image:url('images/door.png');
}
.i-bar{
  background-image:url('images/bar.png');
}
.i-1{
  background-image:url('images/1.png');
}
.i-2{
  background-image:url('images/2.png');
}
.i-hz-path{
  background-image:url('images/hz-path.png');
}
.i-grass{
  background-image:url('images/grass.png');
}
.i-mat{
  background-image:url('images/mat.png');
}
.i-H{
  background-image:url('images/H.png');
}
.i-path-T{
  background-image:url('images/path-T.png');
}
.i-path-inv-T{
  background-image:url('images/path-inv-T.png');
}
.i-vertical-path{
  background-image:url('images/vertical-path.png');
}
.i-tree{
  background-image:url('images/tree.png');
}
.i-tree-stump{
  background-image:url('images/tree-stump.png');
}
.i-floor{
  background-image:url('images/floor.png');
}
.i-b{
  background-image:url('images/b.png');
}
.i-hz-fence{
  background-image:url('images/horizontal-wall.png');
}
.i-vt-fence{
  background-image:url('images/vertical-wall.png');
}
.i-workbench-left{
  background-image:url('images/workbench-left.png');
}
.i-workbench-right{
  background-image:url('images/workbench-right.png');
}
.i-fence-horizontal{
  background-image:url('images/parcel-horizontal.png');
}
.i-fence-vertical{
  background-image:url('images/parcel-vertical.png');
}
.i-fence-bottom-left-corner{
  background-image:url('images/parcel-bottom-left-corner.png');
}
.i-fence-bottom-right-corner{
  background-image:url('images/parcel-bottom-right-corner.png');
}
.i-fence-top-left-corner{
  background-image:url('images/parcel-top-left-corner.png');
}
.i-fence-top-right-corner{
  background-image:url('images/parcel-top-right-corner.png');
}
.i-fence-sign{
  background-image:url('images/buy-parcel.png');
}
