/* Character display rules */
.character{
  position:absolute;
  top:auto;
  height:50px;
  width:50px;
  z-index:5;
  background-repeat:no-repeat;
  background-size:40px;
  margin-top:10px;
  margin-left:10px;
}
.mc{
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color:blue;
}
.i-21{
  background-image:url('images/21.png');
}
.i-22{
  background-image:url('images/22.png');
}
.i-23{
  background-image:url('images/23.png');
}
.i-24{
  background-image:url('images/24.png');
}
.i-31{
  background-image:url('images/31.png');
}
.i-32{
  background-image:url('images/32.png');
}
.i-33{
  background-image:url('images/33.png');
}
.i-34{
  background-image:url('images/34.png');
}
.i-101{
  background-image:url('images/101.png');
}
.i-102{
  background-image:url('images/102.png');
}
.i-103{
  background-image:url('images/103.png');
}
.i-104{
  background-image:url('images/104.png');
}
