/* Character display rules */
@size: 60px;
.obstacle, .character{
  position:absolute;
  top:auto;
  height:50px;
  width:50px;
  z-index:5;
  background-repeat:no-repeat;
  background-size:40px;
  margin-top:10px;
  margin-left:10px;
}
.obstacle {
  margin: 0;
  height: 60px;
  width: 60px;
  background-size: 60px;
  &.obstacle-2x1 {
    width: 2*@size;
    background-size: 2*@size @size;
  }
  &.obstacle-3x1 {
    width: 3*@size;
    background-size: 3*@size @size;
  }
  &.obstacle-3x3 {
    width: 180px;
    height: 180px;
    background-size: 180px 180px;
  }
  &.shift-x8 {
    left: 8 * @size;
  }
  &.shift-x7 {
    left: 7 * @size;
  }
  &.shift-x6 {
    left: 6 * @size;
  }
  &.shift-x5 {
    left: 5 * @size;
  }
  &.shift-x4 {
    left: 4 * @size;
  }
  &.shift-x3 {
    left: 3 * @size;
  }
  &.shift-x2 {
    left: 2 * @size;
  }
  &.shift-x1 {
    left: @size;
  }
  &.shift-x-1 {
    left: -1 * @size;
  }
  &.shift-x-2 {
    left: -2 * @size;
  }
  &.shift-x-3 {
    left: -3 * @size;
  }
  &.shift-x-4 {
    left: -4 * @size;
  }
  &.shift-y5 {
    top: 5 * @size;
  }
  &.shift-y4 {
    top: 4 * @size;
  }
  &.shift-y3 {
    top: 3 * @size;
  }
  &.shift-y2 {
    top: 2 * @size;
  }
  &.shift-y1 {
    top: @size;
  }
  &.shift-y-1 {
    top: -1 * @size;
  }
  &.shift-y-2 {
    top: -2 * @size;
  }
  &.shift-y-3 {
    top: -3 * @size;
  }
  &.shift-y-4 {
    top: -4 * @size;
  }
}
.mc{
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color:blue;
}
.i-21{
  background-image:url('images/21.png');
}
.i-22{
  background-image:url('images/22.png');
}
.i-23{
  background-image:url('images/23.png');
}
.i-24{
  background-image:url('images/24.png');
}
.i-26{
  background-image:url('images/26.png');
}
.i-27{
  background-image:url('images/27.png');
}
.i-28{
  background-image:url('images/28.png');
}
.i-29{
  background-image:url('images/29.png');
}
.i-31{
  background-image:url('images/31.png');
}
.i-32{
  background-image:url('images/32.png');
}
.i-33{
  background-image:url('images/33.png');
}
.i-34{
  background-image:url('images/34.png');
}
.i-101{
  background-image:url('images/101.png');
}
.i-102{
  background-image:url('images/102.png');
}
.i-103{
  background-image:url('images/103.png');
}
.i-104{
  background-image:url('images/104.png');
}
.i-111{
  background-image:url('images/111.png');
}
.i-112{
  background-image:url('images/112.png');
}
.i-113{
  background-image:url('images/113.png');
}
.i-114{
  background-image:url('images/114.png');
}
.i-106{
  background-image:url('images/106.png');
}
.i-107{
  background-image:url('images/107.png');
}
.i-108{
  background-image:url('images/108.png');
}
.i-109{
  background-image:url('images/109.png');
}
