/* Character display rules */
.obstacle, .character{
  position:absolute;
  top:auto;
  height:50px;
  width:50px;
  z-index:5;
  background-repeat:no-repeat;
  background-size:40px;
  margin-top:10px;
  margin-left:10px;
}
.obstacle {
  margin: 0;
  height: 60px;
  width: 60px;
  background-size: 60px;
}
.mc{
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color:blue;
}
.i-21{
  background-image:url('images/21.png');
}
.i-22{
  background-image:url('images/22.png');
}
.i-23{
  background-image:url('images/23.png');
}
.i-24{
  background-image:url('images/24.png');
}
.i-26{
  background-image:url('images/26.png');
}
.i-27{
  background-image:url('images/27.png');
}
.i-28{
  background-image:url('images/28.png');
}
.i-29{
  background-image:url('images/29.png');
}
.i-31{
  background-image:url('images/31.png');
}
.i-32{
  background-image:url('images/32.png');
}
.i-33{
  background-image:url('images/33.png');
}
.i-34{
  background-image:url('images/34.png');
}
.i-101{
  background-image:url('images/101.png');
}
.i-102{
  background-image:url('images/102.png');
}
.i-103{
  background-image:url('images/103.png');
}
.i-104{
  background-image:url('images/104.png');
}
.i-111{
  background-image:url('images/111.png');
}
.i-112{
  background-image:url('images/112.png');
}
.i-113{
  background-image:url('images/113.png');
}
.i-114{
  background-image:url('images/114.png');
}
.i-106{
  background-image:url('images/106.png');
}
.i-107{
  background-image:url('images/107.png');
}
.i-108{
  background-image:url('images/108.png');
}
.i-109{
  background-image:url('images/109.png');
}
